<h1>Listing events</h1>

<div class="table-responsive">
  <table class='table table-hover'>
    <colgroup>
      <col span='2' style='background-color: #fcf8e3' />
      <col span='2' style='background-color: #dff0d8' />
    </colgroup>
    <thead>
      <tr>
        <th>External</th>
        <th>Client</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Sequence</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Recurs</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= truncate event.external_id, length: 25 %></td>
          <td><%= event.client %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td><%= event.sequence %></td>
          <td><%= event.latitude %></td>
          <td><%= event.longitude %></td>
          <td><%= event.recurs %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
